# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

/doc
/img
/js
.editorconfig
.htaccess
robots.txt
site.webmanifest
tile.png
tile-wide.png
humans.txt
.gitattributes
browserconfig.xml
